<footer class="bg-beige-main">
  <div class="container">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
          <h4>Kontakt</h4>
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <div class="form-group">
                <label for="contactName" class="form-control-label">Imię i nazwisko<em>*</em></label>
                <input
                  type="text"
                  name="contactName"
                  id="contactName"
                  formControlName="name"
                  [ngClass]="{'is-valid' : contactForm.get('name').valid && contactForm.get('name').touched, 'is-invalid' : contactForm.get('name').invalid && contactForm.get('name').touched}"
                  class="form-control form-control-success"
                  required
                >
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="form-group has-feedback">
                <label for="contactEmail" class="form-control-label">Adres e-mail<em>*</em></label>
                <input
                  type="email"
                  name="contactEmail"
                  id="contactEmail"
                  formControlName="email"
                  [ngClass]="{'is-valid' : contactForm.get('email').valid && contactForm.get('email').touched, 'is-invalid' : contactForm.get('email').invalid && contactForm.get('email').touched}"
                  class="form-control"
                  required
                >
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="form-group has-feedback">
                <label for="contactPhone" class="form-control-label">Numer telefonu</label>
                <input
                  type="tel"
                  name="contactPhone"
                  id="contactPhone"
                  formControlName="phone"
                  [ngClass]="{'is-valid' : contactForm.get('phone').valid && contactForm.get('phone').touched, 'is-invalid' : contactForm.get('phone').invalid && contactForm.get('phone').touched}"
                  class="form-control"
                >
              </div>
            </div>
            <div class="col-12">
              <div class="form-group has-feedback">
                <label for="contactSubject" class="form-control-label">Temat<em>*</em></label>
                <input
                  type="text"
                  name="contactSubject"
                  id="contactSubject"
                  formControlName="subject"
                  [ngClass]="{'is-valid' : contactForm.get('subject').valid && contactForm.get('subject').touched, 'is-invalid' : contactForm.get('subject').invalid && contactForm.get('subject').touched}"
                  class="form-control"
                  required
                >
              </div>
            </div>
            <div class="col-12">
              <div class="form-group has-feedback">
                <label for="contactContent" class="form-control-label">Treść<em>*</em></label>
                <textarea
                  name="contactContent"
                  id="contactContent"
                  formControlName="content"
                  [ngClass]="{'is-valid' : contactForm.get('content').valid && contactForm.get('content').touched, 'is-invalid' : contactForm.get('content').invalid && contactForm.get('content').touched}"
                  class="form-control"
                  required
                >
                </textarea>
              </div>
              <div class="checkbox">
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    formControlName="sendCopy"
                  >
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Wyślij kopię na mój adres</span>
                </label>
              </div>
              <button type="submit" class="btn btn-secondary" [disabled]="!contactForm.valid">Wyślij</button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</footer>
