$red-main: #f44236;
$beige: #f8f3e4;
$brown: #683139;
$blue: #01bbd4;
$yellow: #cdb622;
$grey: #999;

$font-family-base: "Roboto";
$font-family-secondary: "Lato";
$font-family-font-awesome: 'FontAwesome';

$input-height: 40px;
