<div class="container">
  <form [formGroup]="orderForm"  (ngSubmit)="onSubmit()" id="orderForm" novalidate>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="name"
                 class="form-control-label">
            Imię<em>*</em>
          </label>
          <input type="text"
                 id="name"
                 name="name"
                 formControlName="name"
                 class="form-control"
                 [ngClass]="{'is-valid' : orderForm.get('name').valid && orderForm.get('name').touched, 'is-invalid' : orderForm.get('name').invalid && orderForm.get('name').touched}"
                 placeholder="Imię"
                 required>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="surname" class="form-control-label">
            Nazwisko<em>*</em>
          </label>
          <input type="text"
                 id="surname"
                 name="surname"
                 formControlName="surname"
                 class="form-control"
                 [ngClass]="{'is-valid' : orderForm.get('surname').valid && orderForm.get('surname').touched, 'is-invalid' : orderForm.get('surname').invalid && orderForm.get('surname').touched}"
                 placeholder="Nazwisko"
                 required>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="email"
                 class="form-control-label">
            Adres e-mail<em>*</em>
          </label>
          <input type="email"
                 id="email"
                 name="email"
                 formControlName="email"
                 class="form-control"
                 [ngClass]="{'is-valid' : orderForm.get('email').valid && orderForm.get('email').touched, 'is-invalid' : orderForm.get('email').invalid && orderForm.get('email').touched}"
                 placeholder="Adres e-mail"
                 required>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="phone"
                 class="form-control-label">
            Numer telefonu<em>*</em>
          </label>
          <input type="tel"
                 id="phone"
                 name="phone"
                 formControlName="phone"
                 class="form-control"
                 [ngClass]="{'is-valid' : orderForm.get('phone').valid && orderForm.get('phone').touched, 'is-invalid' : orderForm.get('phone').invalid && orderForm.get('phone').touched}"
                 placeholder="Telefon"
                 required>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-xs-12  col-sm-6">
        <div class="form-group">
          <label for="shipping"
                 class="form-control-label">
            Adres dostawy<em>*</em>
          </label>
          <textarea id="shipping"
                    name="shipping"
                    formControlName="shipping"
                    class="form-control"
                    [ngClass]="{'is-valid' : orderForm.get('shipping').valid && orderForm.get('shipping').touched, 'is-invalid' : orderForm.get('shipping').invalid && orderForm.get('shipping').touched}"
                    placeholder="Adres dostawy"
                    required></textarea>
        </div>
      </div>
      <div class="col-xs-12  col-sm-6">
        <div class="form-group">
          <label for="comment" class="form-control-label">
            Komentarz
          </label>
          <textarea id="comment"
                    name="comment"
                    class="form-control"
                    [ngClass]="{'is-valid' : orderForm.get('comment').valid && orderForm.get('comment').touched, 'is-invalid' : orderForm.get('comment').invalid && orderForm.get('comment').touched}"
                    formControlName="comment"
                    placeholder="Komentarz"></textarea>
        </div>
      </div>

      <div class="col-12">
        <h1 class="red">Wybierz produkty</h1>
        <div class="row justify-content-center"
             formArrayName="products">
          <div class="col-xs-12 col-sm-6 col-md-3 product-item"
               *ngFor="let productControl of getControls(); let i = index;"
               [formGroupName]="i">

            <a href="#" class="img"><img [src]="productControl.get('image').value" alt="{{ productControl.get('name').value }}" /></a>
            <a href="#" class="name">{{ productControl.get('name').value }}</a>
            <div class="short-desc">{{ productControl.get('shortDescription').value }}</div>

            <p class="availability">Dostępność: {{ productControl.get('availability').value }} szt.</p>
            <div class="row justify-content-between align-items-center no-gutters">
              <div class="price">{{ productControl.get('price').value | formatPrice }} zł</div>
              <div class="quantity">
                <button type="button"
                        (click)="decrease(i)">
                  <fa name="minus"
                      size="1x"></fa>
                </button>
                <input type="number"
                       (change)="calculateTotal()"
                       min="0"
                       max="{{ productControl.get('availability').value }}"
                       name="quantity"
                       value="0"
                       class="form-control"
                       formControlName="quantity">
                <button type="button"
                        (click)="increase(i)">
                  <fa name="plus"
                      size="1x"></fa>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <p class="total">Do zapłaty: <b>{{ summaryPrice | formatPrice }} zł</b></p>
      </div>

      <!--<div class="col-xs-12">-->
      <!--<p class="bg-danger" ng-show="productsRequired">Musisz wybrać przynajmniej jeden produkt</p>-->
      <!--</div>-->
      <!--<div class="col-xs-12">-->
      <!--<p class="bg-danger" ng-show="formInvalid">Wypełnij prawidłowo wszystkie wymagane pola</p>-->
      <!--</div>-->
    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <!--<p class="bg-success" [hidden]="!submitSuccess"></p>-->
      </div>
              <!--[disabled]="!orderForm.valid || !productsOrdered"-->
      <button type="button"
              class="btn btn-primary"
              (click)="open(shipmentAndPayment)">
        Złóż zamówienie
      </button>
    </div>
    <ng-template #shipmentAndPayment let-close="close">
      <fa name="times" size="2x" class="cross-close" (click)="close()"></fa>
      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            Podsumowanie
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <b>Dane klienta</b><br>
                <span>{{ orderForm.get('name').value }} {{ orderForm.get('surname').value }}</span><br>
                <span>{{ orderForm.get('email').value }}</span><br>
                <span>{{ orderForm.get('phone').value }}</span><br>
              </div>
              <div class="col-xs-12 col-md-6">
                <b>Dane do dostawy</b>
                <pre>{{ orderForm.get('shipping').value }}</pre>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nazwa</th>
                  <th>Ilość</th>
                  <th>Cena za sztukę</th>
                  <th>Suma</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of orderForm.value.products | checkQuantity; let i = index;">
                  <td>{{ i + 1 }}</td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.quantity }}</td>
                  <td>{{ product.price | formatPrice }} zł</td>
                  <td>{{ product.name }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12"><b>Wybierz metodę dostawy<em>*</em></b></div>
              <div class="col-xs-12 col-sm-3" *ngFor="let method of (shipmentMethodsState | async); let i = index">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="method{{i}}" name="shipmentMethod" required>
                  <label class="custom-control-label" for="method{{i}}">{{ method.name }} {{ method.price | formatPrice }}zł</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </form>
</div>

