<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSignin()">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-6">
        <h1>Zaloguj się</h1>
        <div class="form-group">
          <label for="name"
                 class="form-control-label">
            Nazwa użytkownika<em>*</em>
          </label>
          <input type="text"
                 name="name"
                 id="name"
                 formControlName="name"
                 class="form-control"
                 [ngClass]="{'is-valid' : loginForm.get('name').valid && loginForm.get('name').touched, 'is-invalid' : loginForm.get('name').invalid && loginForm.get('name').touched}"
                 required>
        </div>
        <div class="form-group">
          <label for="password"
                 class="form-control-label">
            Hasło<em>*</em>
          </label>
          <input type="password"
                 name="password"
                 id="password"
                 formControlName="password"
                 class="form-control"
                 [ngClass]="{'is-valid' : loginForm.get('password').valid && loginForm.get('password').touched, 'is-invalid' : loginForm.get('password').invalid && loginForm.get('password').touched}"
                 required>
        </div>
        <button type="submit"
                [disabled]="!loginForm.valid"
                class="btn btn-secondary">Login</button>
      </div>
    </div>
  </form>
</div>
