<nav class="navbar navbar-expand-lg navbar-light bg-red-main justify-content-between nav-custom-class fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a [routerLink]="['/zamowienia']" class="nav-link" href="#">Zamówienia</a></li>
        <li class="nav-item"><a class="nav-link">Produkty</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Konfiguracja</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Wyloguj</a></li>
      </ul>
    </div>
  </div>
</nav>

